<h1>Agregar Producto</h1>
<hr />

<form [formGroup]="myForm">
  <div class="row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label>Nombre:</label>
    </div>

    <div class="col-auto">
      <input type="text" class="form-control" formControlName="name" />
    </div>

    <div class="col-auto">
      <!-- este es un simple span que tiene la directiva customLabel -->
      <span customLabel [changeColor]="color"></span>
      <br />
      <span customLabel [changeColor]="color"> + Mensaje</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="handleChangeColor()">
        Cambiar color
      </button>
    </div>
  </div>
</form>

<br />
<hr />
<p><b>Form Value:</b></p>
<pre>{{ myForm.value | json }}</pre>

<pre><b>name value:</b> {{ myForm.get("name")?.value | json }}</pre>
<pre><b>name errors:</b> {{ myForm.get("name")?.errors | json }}</pre>

<p><b>Color:</b> {{ color }}</p>
